<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>

<div th:replace="/fragments/header :: header"></div>

<div class="container mb-40">
    <div>
        <form action="#"
              th:action="@{'/blog/create'}"
              th:object="${blog}"
              method="post">
            <h2>Write new blog post</h2>
            <!--        title-->
            <div>
                <label>
                    <div class="alert-red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
                    <input type="text" th:field="*{title}" placeholder="Title"/>
                </label>
            </div>
            <!--        topics-->
            <div>
                <label>Choose a topic:</label>
                <select th:field="*{topic}">
                    <option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.name}">
                    </option>
                </select>
            </div>
            Content:
            <div>
                <textarea name="editor" id="editor" th:field="*{content}"></textarea>
                <script>
                const editor = ClassicEditor.create(document.querySelector('#editor'));
                function getValue() {
                const htmlValue = editor.getData();
                document.querySelector('#editor').value = htmlValue;}


                </script>
            </div>
            <div class="mt-5 mb-5 text-right">
                <button class="btn btn-success btn-lg btn-block" type="submit">Publish</button>
            </div>
        </form>
    </div>
</div>

<footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>