<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>

<div th:replace="/fragments/header :: header"></div>

<div class="container-fluid">
    <div class="blog">
        <div class="row tm-row">
            <div class="col-12">
                <hr class="tm-hr-primary tm-mb-55">
                <img th:src="@{/img/default.png}" alt="Image" class="img-fluid">
            </div>
        </div>
        <div class="row tm_row">
            <div class="col-lg-8 tm-post-col">
                <div class="tm-post-full">
                    <!--                    blog body-->
                    <div class="mb-4">
                        <h2 class="pt-2 tm-color-primary tm-post-title" th:text="${blog.title}">Single Post of Xtra Blog
                            HTML Template</h2>
                        <p class="tm-mb-40"
                           th:text="'Published on ' + ${#temporals.format(blog.createdDate, 'yyyy MMMM dd')}">June 16,
                            2020 posted by Admin Nat</p>
                        <div th:text="${blog.content}"></div>
                        <span class="d-block text-right tm-color-primary" th:text="'Topic: ' + ${blog.topic.name}">Creative . Design . Business</span>
                    </div>
                    <!--                       checked button-->
                    <div class="align-right">
                        <form th:disabled="${blog.checked}" method="POST"
                              th:action="@{'/blog/{id}/checked'(id=${blog.id})}">
                            <button th:disabled="${blog.checked}" type="submit" name="submit" value="value"
                                    th:classappend="${blog.checked ? '' : 'green-btn'}">Checked
                            </button>
                        </form>
                    </div>
                    <!--                        delete button-->
                    <div class="align-right">
                        <form method="POST" th:action="@{'/blog/{id}/delete'(id=${blog.id})}">
                            <button type="submit" name="submit" value="value" class="red-btn">Delete</button>
                        </form>
                    </div>
                    <!--                        edit button-->
                    <div class="align-right">
                        <a th:href="@{'/editBlog/{id}'(id=${blog.id})}">
                            <button class="green-btn blue-btn" type="button">Edit</button>
                        </a>
                    </div>
                </div>

                <!--                 Comments-->
                <!--                <div>-->
                <!--                    <h2 class="tm-color-primary tm-post-title">Comments</h2>-->
                <!--                    <hr class="tm-hr-primary tm-mb-45">-->
                <!--                    <div class="tm-comment tm-mb-45">-->
                <!--                        <figure class="tm-comment-figure">-->
                <!--                            <img src="img/comment-1.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">-->
                <!--                            <figcaption class="tm-color-primary text-center">Mark Sonny</figcaption>-->
                <!--                        </figure>-->
                <!--                        <div>-->
                <!--                            <p>-->
                <!--                                Praesent aliquam ex vel lectus ornare tritique. Nunc et eros-->
                <!--                                quis enim feugiat tincidunt et vitae dui. Nullam consectetur-->
                <!--                                justo ac ex laoreet rhoncus. Nunc id leo pretium, faucibus-->
                <!--                                sapien vel, euismod turpis.-->
                <!--                            </p>-->
                <!--                            <div class="d-flex justify-content-between">-->
                <!--                                <a href="#" class="tm-color-primary">REPLY</a>-->
                <!--                                <span class="tm-color-primary">June 14, 2020</span>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <div class="tm-comment-reply tm-mb-45">-->
                <!--                        <hr>-->
                <!--                        <div class="tm-comment">-->
                <!--                            <figure class="tm-comment-figure">-->
                <!--                                <img src="img/comment-2.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">-->
                <!--                                <figcaption class="tm-color-primary text-center">Jewel Soft</figcaption>-->
                <!--                            </figure>-->
                <!--                            <p>-->
                <!--                                Nunc et eros quis enim feugiat tincidunt et vitae dui.-->
                <!--                                Nullam consectetur justo ac ex laoreet rhoncus. Nunc-->
                <!--                                id leo pretium, faucibus sapien vel, euismod turpis.-->
                <!--                            </p>-->
                <!--                        </div>-->
                <!--                        <span class="d-block text-right tm-color-primary">June 21, 2020</span>-->
                <!--                    </div>-->
                <!--                    <form action="" class="mb-5 tm-comment-form">-->
                <!--                        <h2 class="tm-color-primary tm-post-title mb-4">Your comment</h2>-->
                <!--                        <div class="mb-4">-->
                <!--                            <input class="form-control" name="name" type="text">-->
                <!--                        </div>-->
                <!--                        <div class="mb-4">-->
                <!--                            <input class="form-control" name="email" type="text">-->
                <!--                        </div>-->
                <!--                        <div class="mb-4">-->
                <!--                            <textarea class="form-control" name="message" rows="6"></textarea>-->
                <!--                        </div>-->
                <!--                        <div class="text-right">-->
                <!--                            <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>-->
                <!--                        </div>-->
                <!--                    </form>-->
                <!--                </div>-->
            </div>
        </div>
    </div>

    <!--    <div class="comments">-->
    <!--        <h2>Comments</h2>-->
    <!--        <div class="comment" th:each="comment : ${blog.comments}">-->
    <!--            <h5 th:text="'Commented on ' + ${#temporals.format(blog.creationDate, 'yyyy-MM-dd')} + ' by ' + ${comment.user.username}">Comment date and by whom</h5>-->
    <!--            <p th:text="${comment.body}">Body</p>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="align-center">-->
    <!--        <a th:href="@{'/comment/{id}'(id=${blog.id})}">-->
    <!--            <button class="green-btn" type="button">Comment Blog</button>-->
    <!--        </a>-->
    <!--    </div>-->
</div>

<footer th:replace="/fragments/footer :: footer"></footer>
<script src="js/jquery.min.js"></script>
<script src="js/templatemo-script.js"></script>

</body>
</html>