<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>

<div th:replace="/fragments/header :: header"></div>

<div class="row container-fluid mt-2 bg-white">
    <div class="col-lg-9 mt-1 p-5 text-left">
        <!--        blue line-->
        <div>
            <hr class="tm-hr-primary mb-3">
        </div>
        <!--        image-->
        <div class="text-center">
            <img th:src="@{/img/default.png}" alt="Image" class="img-fluid w-">
        </div>
        <!-- blog content -->
        <div class="mb-4">
            <!--         title-->
            <div class="tm-post-title">
                <h2 class="pt-2 font-weight-bold fs-2 tm-color-primary" th:text="${blog.title}">
                    Title</h2>
            </div>
            <!--                topic and creation date-->
            <div class="row tm-row pt-2 fs-4">
                <span class="col-lg-1 tm-color-dark">Topic: </span>
                <span class="col-lg-6 tm-color-primary" th:text="${blog.topic.name}">Topic</span>
                <span class="col-lg-5"
                      th:text="'Published on ' + ${#temporals.format(blog.createdDate, 'yyyy MMMM dd')}">Creation date</span>
            </div>
            <!--                content-->
            <div class="tm-mt-40 " th:utext="${blog.content}"></div>
            <!--                operation buttons-->
            <div class="row mt-2 p-2">
                <form class="col px-5" th:disabled="${blog.checked}" method="POST"
                      th:action="@{'/blog/{id}/checked'(id=${blog.id})}">
                    <button th:disabled="${blog.checked}" type="submit" name="submit" value="value"
                            th:classappend="${blog.checked ? 'btn btn-lg btn-block btn-outline-dark' : 'btn btn-lg btn-block btn-light'}">
                        Checked
                    </button>
                </form>
                <!-- delete button -->
                <form class="col px-5" method="POST" th:action="@{'/blog/{id}/delete'(id=${blog.id})}">
                    <button type="submit" name="submit" value="value" class="btn btn-light btn-lg btn-block">
                        Delete
                    </button>
                </form>
                <!-- edit button -->
                <a class="col px-5" href="#">
                    <button class="btn btn-light btn-lg btn-block" type="button">Edit</button>
                </a>
            </div>
        </div>
        <!--        comments section-->
        <div>
            <div class="tab-pane" id="contact_02"
                 th:replace="/fragments/comments :: comments(comments=${checked_comments})">
            </div>
        </div>
        <!--        crete new comment-->
        <div class="align-right text-right float-end">
            <a th:href="@{'/blog/{id}/comment/create'(id=${blog.id})}">
                <button class="m-2 btn tm-btn-primary btn-lg btn-block" type="button">Add comment</button>
            </a>
        </div>
        <!--        back to menu-->
        <div class="float-start mt-5 text-left align-left">
            <a class="m-1" th:href="@{'/'}">
                <button class="btn btn-lg btn-outline-secondary" type="button"> << Back to Menu</button>
            </a>
        </div>
    </div>
    <aside class="col-lg-3">
        Some Posts
    </aside>
</div>


<footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>